*{
    margin :0 ;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}

header nav ul li a {
    color: rgb(red, green, rgb(146, 146, 233)7, 7, 7);
    text-decoration: none;
}

header {
    background-color: rgb(12, 200, 150);
  }

#home {
    color:blanchedalmond
}

main h1 {
    text-align: center;
    margin: 30px;
}

main h3 {
    clear: both;
    text-align: center;
    margin: 30px;
}

#photo {
    float: right;
}

.paraghraph {
    clear: both;
    border: solid 2px green;
    padding: 30px;
    color: hotpink;
    text-align: center;
}